//colors

$cardList: #f1da65;
$cardItemBord: #d89e2d;
$itemBackground: #f8f4e0;
$cardBackground: #f9eeb7;
$text-color: #4d5338;
$text-color-alt: #ffffff;
$text-color-hard: #000000;
$buttonLimit: #c15507;
